@use "./base";
// colors
$color-white: #fff;
$button-color: #bd0007;
$color-blue: #133d8d;
$color-black: #000;
$border-color: #a5b5d4;

// font-Size
$fz14px: 1.4rem;
$fz16px: 1.6rem;
$fz18px: 1.8rem;
$fz20px: 2rem;
